name: PR Merge Sync To Walter-Esp-Idf

on:
  pull_request:
    types: [closed]
  workflow_dispatch:

jobs:
  sync:
    if: github.event.pull_request.merged == true || github.event_name == 'workflow_dispatch'    
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
        with:
          ref: main
          path: walter-modem

      - name: Setup Git
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"

      - name: Install jq
        run: sudo apt-get install -y jq

      - name: Get the commit details
        id: commit
        run: |
          commit_sha=$(jq -r '.pull_request.head.sha' $GITHUB_EVENT_PATH)
          commit_author=$(curl -s https://api.github.com/repos/${{ github.repository }}/commits/$commit_sha | jq -r '.commit.author.name')
          echo "commit_author=$commit_author" >> $GITHUB_ENV

      - name: Clone target repository
        run: |
          git clone -b main https://github.com/QuickSpot/walter-esp-idf target-repo

      - name: Copy files
        run: |
          cp -R walter-modem/src/* target-repo/walter-modem/src/

      - name: Commit and push changes
        continue-on-error: true
        run: |
          cd target-repo
          git add .
          git commit -m "Sync from walter-modem-arduino on PR merge by ${{ env.commit_author }}"
          git push --force
